@import "../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
.body{
	margin-bottom: 20px;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.filterwrap{
	overflow: auto;
	background-color: #def0f9;
	p,p label,span{
		font-size: 16px;
		font-weight: 600;
	}
	.filterGroup{
		margin-right: 50px;
	}
	.range{
		width: 300px;
		#amount{
			border: 0 none;
			background-color: transparent;
			font-weight: 400;
		}
	}
}
p label{

}